table {
border-collapse: collapse;

    
}
th  {
    border-color: #01339B;
    background-color: #01339B;
    color: wh;

    padding: 10px;
    
}

.roug {
    border: mm ridge rgba(12, 121, 198, 0.6);
    background-color: #FE0000;
   
    }  
        
       

.bleu{
    background-color: #01339B;
}

.orange{
background-color: #FF6600;
}



.trs{ 
    background-color: transparent;
    
}

