* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    background: rgba(51, 0, 255, 0.495);
    height: 400px;
    justify-content: space-between;
    flex-direction: row-reverse;
 
}

.item1 {
    border: 2px dotted black;
    padding: 20px;
    align-self: start;

}
.item2 {
    border: 2px dotted black;
    padding: 20px;
    align-self: center,

}
.item3 {
    border: 2px dotted black;
    padding: 20px;
    align-self: end;
}